.menu-container>h2 {
    margin-top: 0px;
    font-weight: bold;
}

.menu-container .draggable-placeholder {}

.menu-container .draggable-placeholder-inner {
    border: 1px dashed #0088F8;
    box-sizing: border-box;
    background: rgba(0, 136, 249, 0.09);
    color: #0088f9;
    text-align: center;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu-container .item-manager .tree-node-inner {
    border: 1px solid #ccc;
    background: #FFF;
    padding: 10px;
}

.menu-container .item-manager .tree-node-inner div.item {
    display: block;
    position: relative;
    padding: 0px 25px;
    line-height: 20px;
    min-height: 20px;
}

.menu-container .item-manager .tree-node-inner div.item span.drag-handler, .menu-container .item-manager .tree-node-inner div.item span.edit-handler {
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin: 0;
    display: inline-block;
    text-align: center;
    position: absolute;
}

.menu-container .item-manager .tree-node-inner div.item span.drag-handler {
    cursor: move;
    background: #EEE;
    content: " ";
    left: 0;
    font-size: 0px;
    border: 1px solid #CCC;
}

.menu-container .item-manager .tree-node-inner div.item span.drag-handler:before {
    position: absolute;
    top: 3px;
    left: 1px;
    right: 1px;
    width: 16px;
    height: 5px;
    content: " ";
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.menu-container .item-manager .tree-node-inner div.item span.drag-handler:after {
    position: absolute;
    bottom: 3px;
    left: 1px;
    right: 1px;
    width: 16px;
    height: 5px;
    content: " ";
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.menu-container .item-manager .tree-node-inner div.item span.edit-handler {
    cursor: pointer;
    background: #EEE;
    border-radius: 100%;
    right: 0;
    color: green;
    border: 1px solid green;
}